#calculator{
    text-align: center;
    margin-top: 40px;
}
body{
    background-color: yellow;
}
button{
    font-size: 34px;
    background-color: black;
    color: white;
    padding: 12px;
    width: 100px;
    cursor: pointer;
}
.button-container{
    margin-top: 8px;
}
#display{
    font-size: 34px;
    
}
#heading{
    color: red;
}